
/* Burger navigation
================================================== */

@media (max-width: 1420px){
    #burger li {
        width: 100%; 
    }
}

@media (max-width: 500px){
    #burger li a{
        font-size: 40px; 
    }
}

/* Header
================================================== */
@media (max-width: 850px){
    .jumpDev{
      display: block;
    }

    .paragraph{
        line-height: 30px;
    }
}

@media (max-width: 740px){
    svg{
      width: 500px;
    }
}

@media (max-width: 550px){
    svg{
      width: 400px;
    }

    h2{
        font-size: 35px;
    }
}

@media (max-width: 480px){


    svg{
      width: 330px;
    }

    .paragraph{
        letter-spacing: 0;
        font-size: 12px;
    }

    #contain img {
        width: 150px;
        margin-top: 170%;
    }

    #logo{
        width: 70px;
        margin-bottom: 0px;
    }

    #career img {
        width: 250px;
        height: 195px;
    }


    .loader 
    {
        position: relative;
        height  : 250px;
    }

    .burgerIcon img, .xIcon img {
        width: 40px;
    }

    #networks{
        margin-top: 250px;
      }
}

/* A propos
================================================== */

@media (max-width: 1738px){
    #career{
        display: block;
        width: 100%;
        margin: auto;
    }

    #career ul li{
        margin-left: 20%;
    }

    .hrResp{
        display: block;
    }

    .slide-in-right, .slide-in-right-dos, .slide-in-left{
        transform: none;
        opacity: 1;
      }
       
}

@media (max-width: 950px){
    .hrResp{
        width: 500px;
    }

    #career ul li{
        margin-left: 15%;
        font-size: 19px;
    }
}


@media (max-width: 700px){
    .icon-graduation{
        display: none;
    }

    .icon-briefcase{
        display: none;
    }

    .hrResp{
        display: none;
    }

    .bigIcon-graduation{
        display: block;
    }

    .bigIcon-briefcase{
        display: block;
    }

    #career ul li{
        margin-left: 15%;
    }
}

@media (max-width: 600px){
  
    .jumpAbout{
        display: block;
       
    }

    #career ul li{
    margin-left: 20px;
    font-size: 21px;
    }     
 }

/* Compétences
================================================== */

@media (max-width: 1500px){
  
   .pourcent {
    padding: 0px 85px;
    }
        
}

 @media (max-width: 1400px){
  
    .pourcent {
     padding: 0px 65px;
    }
         
}

@media (max-width: 1250px){
  
    .pourcent {
     padding: 0px 40px;
    }       
}

@media (max-width: 1020px){
  
    .pourcent {
     padding: 0px 90px;
    }       
}

/* Services
================================================== */

@media (max-width: 1250px){
  
  #servicesGrid{
    display: block;
    }
    
    #servicesGrid .service{
        margin: 50px auto;
        
        }
    
  
}

